{% extends 'base.html' %}{%load bootstrap5%}{% load static %}
{% block content %}
<div class="container mt-4">
    <h2>Bulk Upload Accounts</h2>
    {% if messages %}
    <div id="popupMessage" style="position: fixed; top: 20px; left: 50%; transform: translateX(-50%);
        background-color: #f8d7da; color: #721c24; padding: 10px 20px; border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.2); display: block; z-index: 1000;">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>

    <script>
        setTimeout(function () {
            var popup = document.getElementById("popupMessage");
            if (popup) {
                popup.style.display = "none";
            }
        }, 3000);
    </script>
{% endif %}


    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="file" class="form-label">Upload CSV File</label>
            <input type="file" class="form-control" name="file" required>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

    <hr>

    <h4>CSV Format:</h4>
    <p><strong>Columns:</strong> Name, Contact UUID, Community Health Unit, Username, Password, Account Category, Subcounty, County</p>
</div>
{% endblock %}
