{%extends 'base.html'%}{%load bootstrap5%}{% load static %}
{%block content%}

<!-- <div class="container">
<img src="/static/images/Afya Nyumbani Magazine 1st Edition Cover.png" alt="mainpage" style="height: 550px;margin-top: 1%;">

</div> -->
{% if user.is_authenticated %}
<div class="container_fluid">
  <div class="container">
    <div class="container">
      <div class="row">
        
        
          {% if counties %}

          <h1 style="color: rgb(16, 16, 155);">Counties</h1>

          {% for county in counties %}
          <div class="col-md-6">
         
          <ul class="counties" style="align-items: center;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          list-style-type: none;
          padding-left: 0px;">

            <a href="{% url 'county_detail' county.id %}" style=" background-color: rgb(207, 246, 246);
            box-shadow: 20px 20px 1px 2px rgb(7, 109, 242);
            font-size: 35px;
            margin: 35px;
            padding: 20px;
            text-align: center;">{{county.name}} Credentials</a>
          </ul>
        </div>
          {% endfor %}
          
          {% endif %}
          
        </div>
      
  </div>
    <div class="container ">
      <h1 style="color: rgb(15, 0, 128);margin-top: 2%;">All SHA Accounts </h1>
      <hr>

      <div class="container-fluid">
       
        
           
            <div class="row">
              <div class="col-md-"></div>
          <div class="col-md-12" style="float: left;display:flex;">
           {% if accounts %}
   <table class="table">
    
    <thead>
       
      <tr>
         <!-- <th scope="col">#</th>  -->
        <th scope="col">Subcounty</th>
        <th scope="col">Name</th>
        <th scope="col">Community_Health_Unit</th>
        <th scope="col">Contact UUID</th>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
        <th><a href="{% url 'export_accounts_csv' %}" class="btn btn-outline-primary" >Download</a></th>
       
      </tr>
    </thead>
    
    <tbody>
        {% for account in accounts %}
      <tr>
        <!-- <th scope="row">1</th> -->
        <td><b>{{account.account_subcounty}}</b></td>
        <td><b>{{account.Name}}</b></td>
        <td><b>{{account.Community_Health_Unit}}</b></td>
        <td><b>{{account.Contact_UUID}}</b></td>
        <td><b>{{account.Username}}</b></td>
        <td><b>{{account.Password}}</b></td>
        

        <td>
             <a role="button" class="btn btn-sm btn-outline-info"  
                 href="{% url 'update-account' account.id%}">Edit</a>  
        </td>
 
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
          </div>
             
              {% endif %}
            </div>
          </div>
                     
                    </div>
                  </div>



     </div>
     {% else %}

     <div class="container">
        <img src="/static/images/Afya Nyumbani Magazine 1st Edition Cover.png" alt="mainpage" style="height: 550px;margin-top: 1%;">
        
        </div>

     
     {% endif %}

    </div>




{%endblock%}