{%extends 'base.html'%}{%load bootstrap5%}{% load static %}
{%block content%}

{% if user.is_authenticated %}
<div class="container ">
    <h1 style="color: rgb(15, 0, 128);margin-top: 2%;">Living Goods Kisumu SHA Accounts </h1>
    <hr>

    <div class="container-fluid">
     
      
         
          <div class="row">
            <div class="col-md-"></div>
        <div class="col-md-12" style="float: left;display:flex;">
         {% if accounts %}
 <table class="table">
  
  <thead>
     
    <tr>
       <!-- <th scope="col">#</th>  -->
      <th scope="col">Subcounty</th>
      <th scope="col">Name</th>
      <th scope="col">Community_Health_Unit</th>
      <th scope="col">Contact UUID</th>
      <th scope="col">Username</th>
      <th scope="col">Password</th>
    </tr>
  </thead>
  
  <tbody>
      {% for account in accounts %}
    <tr>
      <!-- <th scope="row">1</th> -->
      <td><b>{{account.account_subcounty}}</b></td>
      <td><b>{{account.Name}}</b></td>
      <td><b>{{account.Community_Health_Unit}}</b></td>
      <td><b>{{account.Contact_UUID}}</b></td>
      <td><b>{{account.Username}}</b></td>
      <td><b>{{account.Password}}</b></td>
      

      <td>
           <a role="button" class="btn btn-sm btn-outline-info"  
               href="{% url 'update-account' account.id%}">Edit</a>  
      </td>

    </tr>
    {% endfor %}
  </tbody>
</table>

        </div>
           
            {% endif %}
          </div>
        </div>
                   
                  </div>
                </div>



   </div>
   {% else %}

   <div class="container">
      <img src="/static/images/Afya Nyumbani Magazine 1st Edition Cover.png" alt="mainpage" style="height: 550px;margin-top: 1%;">
      
      </div>

   
   {% endif %}

  </div>


{% endblock %}