{% extends 'base.html'%} 

{% block content %}
<div style="height: 100%;">
  <div class="">
    {% if accounts %}
    <div class="jumbotron jumbotron-fluid bg-white shadow">
        <div class="">
          <h1 class="display-6 text-center font-weight-bold" style="color: rgb(11, 25, 179);">Found {{ accounts|length }} accounts for searched term {{message}}</h1>
        </div>
      </div>
    {% else %}
    <div class="jumbotron jumbotron-fluid bg-white shadow">
        <div class="">
          <h1 class="display-5 text-center font-weight-bold" style="color: rgb(43, 0, 128);">Found 0 accounts for the searched term {{message}}</h1>
        </div>
      </div>
    {% endif %}

  </div>

  <div class="container-fluid">
      {% if accounts %}
      <div class="container">
        <div class="row">
          {% for account in accounts %}
          <div class="col-md-2"></div>
          <div class="col-md-8" style="float: left;display:flex;">
            <!-- <div class="card" style=" margin-top: 3%;float:left; margin-left: 2%;padding-top: 1%;">
              <img src="{{post.pic.url}}" class="card-img-top" alt="..."> 
              <div class="card-body">
        
                <h5 class="card-title"><b>{{account.Name}}</b></h5>
                <p class="card-text">{{account.Username |truncatewords:15}}</p>
                 <a href="single/post/{{account.id}}" class="btn" style="background-color: rgb(13, 77, 13); color:white;font-weight:bold;">View Details</a> 
              </div>
            </div>
   -->
   <table class="table">
    <thead>
      <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col">Name</th>
        <th scope="col">Contact UUID</th>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- <th scope="row">1</th> -->
        <td><b>{{account.Name}}</b></td>
        <td><b>{{account.Contact_UUID}}</b></td>
        <td><b>{{account.Username}}</b></td>
        <td><b>{{account.Password}}</b></td>
        
      </tr>
      
    </tbody>
  </table>
          </div>
        
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}