{% extends 'base.html'%} 

{% block content %}
<div style="height: 100%;">
  <div class="">
    {% if accounts %}
    <div class="jumbotron jumbotron-fluid bg-white shadow">
        <div class="">
          <h1 class="display-6 text-center font-weight-bold" style="color: rgb(11, 25, 179);">Found {{ accounts|length }} accounts for searched term {{message}}</h1>
        </div>
      </div>
    {% else %}
    <div class="jumbotron jumbotron-fluid bg-white shadow">
        <div class="">
          <h1 class="display-5 text-center font-weight-bold" style="color: rgb(43, 0, 128);">Found 0 accounts for the searched term {{message}}</h1>
        </div>
      </div>
    {% endif %}

  </div>

  <div class="container-fluid">
     
      <div class="container">
        <div class="row">
         
          <div class="col-md-1"></div>
          <div class="col-md-10" style="float: left;display:flex;">
            {% if accounts %}
   <table class="table">
    
    <thead>
      <tr>
        <!-- <th scope="col">#</th> -->
        
        <th scope="col"><b>Subcounty</b></th>
        <th scope="col">Name</th>
        <th scope="col">Community_Health_Unit</th>
        <th scope="col">Contact UUID</th>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
        
      </tr>
    </thead>
    <tbody>
        {% for account in accounts %}
      <tr>
        <!-- <th scope="row">1</th> -->
        <td><b>{{account.account_subcounty}}</b></td>
        <td><b>{{account.Name}}</b></td>
        <td><b>{{account.Community_Health_Unit}}</b></td>
        <td><b>{{account.Contact_UUID}}</b></td>
        <td><b>{{account.Username}}</b></td>
        <td><b>{{account.Password}}</b></td>
        
      </tr>
      {% endfor %}
    </tbody>
  </table>
          </div>
        
          
        </div>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}