{%extends 'base.html'%}{%load bootstrap5%}{% load static %}
{%block content%}

{% if user.is_authenticated %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>

  <div class="container ">
    <h1 style="color: rgb(15, 0, 128);margin-top: 2%;">{{ subcounty.name }} - Accounts </h1>
    <hr>

    
    <ul class="counties" style="align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0px;">
        
        

        <div class="table-responsive" style="font-size: 0.85rem;">
          <table class="table table-bordered table-striped align-middle">
            <thead class="table-primary">
              <tr>
                <th scope="col">Subcounty</th>
                <th scope="col">Name</th>
                <th scope="col">Community Health Unit</th>
                <th scope="col">Contact UUID</th>
                <th scope="col">Area UUID</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                
              </tr>
            </thead>
            
            <tbody>
              {% for account in accounts %}
              <tr>
                <td><b>{{ account.account_subcounty }}</b></td>
                <td><b>{{ account.Name }}</b></td>
                <td><b>{{ account.Community_Health_Unit }}</b></td>
                <td><b>{{ account.Contact_UUID }}</b></td>
                <td><b>{{ account.Area_UUID }}</b></td>
                <td><b>{{ account.Username }}</b></td>
                <td><b>{{ account.Password }}</b></td>
                <td>
                  <a role="button" class="btn btn-sm btn-outline-info" href="{% url 'update-account' account.id %}">Edit</a>
              </td>
                
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        
          
        {% else %}
            <li>No accounts available</li>
            {% endif %}
            
        
    </ul>
    <a href="{% url 'county' %}">Back to Counties</a>
</div>
</body>




{%endblock%}